* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    background-color: #272829;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #0579ec, #5903e2, #ff00e0,#ff0077, #03a88d, #00fffc, #0000ff);
    background-size: 500%, 500%;
    animation: color 12s, ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
header {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease-in-out;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

header.scrolled {
    background: black;
    opacity: 0.98;
}

nav li {
    height: 50px;
    margin: 10px 20px;
    padding: 15px;
    background-color: transparent;
}

nav a {
    list-style: none;
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a:hover {
    color: lightgray;
}

.logo {
    width: 60px;
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-left: 5px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 24em;
    margin-bottom: 30em;
}

.desc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
    color: white;
    font-size: 1.2em;
}

.button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35em;
    padding: 15px 30px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

button {
    background-color: transparent;
    border: none;
    font: 1em;
    font-weight: 400;
    cursor: pointer;
}

.typewrite {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.skills {
    background-color: black;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: -10em;
    padding-top: 0.5em;
    padding-bottom: 2em;
    color : white;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    padding-top: 1em;
    font-size: 0.7em;
    font-weight: 400;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 25px;
    background-color: #333;
    border: 2px solid white;
    border-radius: 5px;
}

.box:hover {
    transform: translatey(-5px);
    background: linear-gradient(60deg, #0579ec, #5903e2, #ff00e0,#ff0077);
    background-size: 200% 200%;
    transition: 0.2s;
}

p {
    margin: 15px 0;
}

.project {
    color: black;
    background-color: white;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    margin: 10em 0;
    margin-bottom: 0;
    padding-bottom: 2em;
}

.project_name {
    padding-top: 1em;
    padding-bottom: 20px;
    border-bottom: 2px dashed black;
}

.skills_name {
    padding-bottom: 20px;
    border-bottom: 2px dashed white;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    gap: 80px;
}

.card1 {
    width: 40rem;
    height: 20rem;
    background-image: url(./assets/project1.png);
    background-size: cover;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 8px 8px black;
}

.card2 {
    width: 40rem;
    height: 20rem;
    background-image: url(./assets/project2.png);
    background-size: cover;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 8px 8px black;
}

.card_p {
    position: relative;
    top: 8.2em;
    font-size: 0.6em;
    opacity: 1;
    padding: 15px; 
    color: white; 
    background-color: black;
    border-radius: 0 0 20px 20px; 
}

.card_text:hover {
    position: absolute;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.card:hover {
    cursor: pointer;
}

.card1:hover, .card2:hover{
    transform: translatey(-5px);
    transform: scale(1.1);
    transition: 0.5s;
    background-size: 105% 105%;
}

.gmail {
    width: 2%;
    margin-right: 2em;    
}

.github {
    width: 2%;
    margin-right: 2em;
}

.instagram {
    width: 2%;
}

.gmail:hover, .github:hover, .instagram:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

footer {
    position: sticky;
    background-color: black;
    text-align: center;;
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
}

.footer_name {
    margin-top: 2em;
}

.contact {
    margin-top: 2em;
    margin-bottom: 2em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(222, 2, 230);
    border-radius: 20px;
}